<div class="row">
    <div class="col-md-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile p-0">
                <div class="px-3 mt-3">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="<%= user.avatar ? `/uploads/${user.avatar}` : '/assets/img/avatar.png' %>" />
                    </div>
                    <h3 class="profile-username text-center"><%= user.full_name %></h3>
                    <p class="text-muted text-center"><%= user.role.name %></p>
                    <p class="text-muted">تاريخ التسجيل : <%= toDate(user.created_at) %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills" id="tabs">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">النشاط</a></li>
                    <li class="nav-item"><a class="nav-link" href="#information" data-toggle="tab">بياناتي</a></li>
                    <li class="nav-item"><a class="nav-link" href="#password" data-toggle="tab">كلمة المرور</a></li>
                </ul>
            </div>
            <div class="card-body pb-0">
                <% messages.forEach(message => { %>
                <div class="alert alert-<%= message.variant || 'primary' %>" id="app-alert"><%- message.body %></div>
                <% }) %>
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        <p>لا يوجد</p>
                    </div>
                    <div class="tab-pane" id="information">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label>الإسم :</label>
                                <input type="text" class="form-control" name="full_name" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="password">
                        <form action="/profile/change-password#password" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label>كلمة المرور القديمة :</label>
                                <input type="password" class="form-control" name="old_password" />
                            </div>
                            <div class="form-group">
                                <label>كلمة المرور الجديد :</label>
                                <input type="password" class="form-control" name="new_password" />
                            </div>
                            <div class="form-group">
                                <label>تأكيد كلمة المرور الجديدة :</label>
                                <input type="password" class="form-control" name="new_password_confirm" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
